
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bg {
  background: blue;
}

.moving-div {
  background: red;
  height: 20px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wobble-box {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background: lightblue;
}

.wobble:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.slide-drop {
  /* animation: slideDrop cubic-bezier(.36,.07,.19,.97) both; */
  height: 20px;
  width: 20px;
  background: red;
  position: absolute;
  z-index: 1;
  /* left: 0px; */
  transition: 1s;
}

.slide-drop:hover {
  /* left: 150px; */
  width: 150px;
}

.text-drop {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  opacity: 0;
  margin-top: 5px;
  color: red;
  transition: 1s 0.9s;
}

.slide-drop:hover .text-drop-active {
  opacity: 1;
  margin-top: 25px;
  color: black;
}

/* @keyframes slideDrop {
  0% {
    left: 0;
    opacity: 0;
  }

  50% {
    left: 400px;
    opacity: 1;
  }
} */